---

---

{% include style.html %}
{% include navbar.html %}
{% include carousel.html height="420" unit="px" duration="7" number="1" %}

<div class="container-home">
    <main>
        <h5>FOLLOW ME</h5>
        <div style="margin: auto; width: 100%; text-align: center;">
            <a href="{{site.insta_username}}" style="text-decoration: none; color: black;" class="fa-brands fa-instagram fa-2xl"></a>
            <a href="{{site.linkedin_username}}" style="text-decoration: none; color: black;" class="fa-brands fa-linkedin fa-2xl"></a>
        </div>
        {{content}}
    </main>
</div>



