
<!-- todo read now button should be fixed to bottom, 
  caption should be in the middle of title and button-->

<style>   
    .article-card
    {
      background-color: rgba(255, 255,255, 0.95);
      height: 200px;
      width: 319px;
      margin: auto;
      margin-top: 264px;
    }
    
    .article-card-title
    {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        text-align: center;
        font-size: 30;
        width: 100%;
        translate: 0px 15px;
    }
    
    .article-card-summary
    {
      font-family: 'Source Sans 3', sans-serif;
      font-size: 14;
      text-align: center;
      width: 100%;
      translate: 0px -10px;
    }
    
    .article_button__read_now
    {
      background-color: #000000;
      width: 133px;
      height: 38px;
      margin: auto;
      transform: translate(0%, -15px);
    }
    
    .article_button__read_now:hover {
      background-color: #333;
    }
    
    .article_read_now
    {
      text-align: center;
      text-decoration: none;
      color: white;
      font-family: 'Source Sans 3', sans-serif;
      font-size: 14;
      line-height: 40px;
    }
    
    </style>
   
    <div class="grid-item " style="background-image: url('{{site.url}}{{site.image-path}}{{ include.image }}');  background-position: {{ include.x }} {{ include.y }}; background-size: {{ include.scaleX }} {{ include.scaleY }}; background-repeat: no-repeat;">
        <div class = "article-card">
        <p class = "article-card-title">{{include.title}}</p>
        <p class = "article-card-summary">{{include.summary}}</p>
        <a style= "text-decoration: none;" href="{{site.url}}{{ include.url }}">
            <div class="article_button__read_now">
            <p class="article_read_now" >READ NOW</p>
            </div>
        </a>
        </div>
    </div>
