
<style>
    .caption-container
    {
        padding-bottom: 40px;
        margin: 20px; 
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .caption 
    {
        text-align: center;
        font-size: medium; 
        font-weight: 200; 
        margin: auto;
        padding: auto;
        width: 100%;
        display: "block"
    }

    .caption-img
    {
        width: 100%; 
        height: 100%;
        margin: auto;
        max-width: 100%;
        object-fit: contain;
    }
</style>

<div class="caption-container" style="width: {{ include.width }}; height: {{ include.height }};">
    <img class="caption-img" src="{{include.src}}" >
    <p class="caption">
        {% if include.caption %}
        <i>{{include.caption}}</i>
        {% else %}
            ❤
        {% endif %}
    </p>
</div>
