<style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
    
    .container {
        max-width: 50%;
        margin: auto;
        margin-top: 0;
        padding-top: 0;
    }

    img {
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    body { margin: 0; padding: 0; }

    main 
    {
        min-height: 300px;
    }

    aside 
    {
        min-height: 300px;
        margin: auto;
        width: 100%;
        text-align: center;
    }

    p {
        margin-top: 0;
        text-align: justify;
        text-justify: inter-word;
    }

    a, p, ul li, ol li, h2, h3, h4, h5, h6 
    {
        font-family: 'Source Sans 3', sans-serif;
    }

    h1
    {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        text-align: center;
        font-size: 64;
    }

    h5
    {
        font-weight: 200;
    }
    
    a, p, ul li, ol li
    {
        font-size: 1.2rem;
    }

    h5 {
        overflow: hidden;
        text-align: center;
        font-size: 24px;
    }

    h5:before, h5:after {
        background-color: #333;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    h5:before {
        right: 0.5em;
        margin-left: -50%;
    }
    
    h5:after {
        left: 0.5em;
        margin-right: -50%;
    }
</style>