---
---

{% include style.html %}
{% include navbar.html %}

{% if page.image != null %}
<img class = "img-header" src="{{site.url}}{{site.baseurl}}{{site.image-path}}{{ page.image }}" alt="{{ page.title }}" title="{{ post.title }}" style="max-height: 420px;">
{% endif %}
<div class="container">
    
    <main>
        <h1>{{page.title}}</h1>
        {% if page.date != null %}
        <h5>{{page.date | date: "%-d %B %Y"}}</h5>
        {% else %}
            <h5>❤</h5>
        {% endif %}
        {% if page.columns == true %}
            <div style="columns: 300px 2; break-inside: avoid-page;">
        {% endif %}
            {{content}}
        {% if page.columns == true %}
            </div>
        {% endif %}
    </main>
   

    {% include morePosts.html %}
    {% include followMe.html %}
    
    <div style="Height: 50px;"></div>
</div>